eureka:
    client:
        fetch-registry: true
        register-with-eureka: true
        service-url:
            defaultZone: http://192.168.1.100:8050/eureka/
            # defaultZone: http://localhost:8050/eureka/
    instance:
        prefer-ip-address: true
server:
    port: ${PORT:8085}
spring:
  application:
        name: GATEWAY-SERVER
  cloud:
    gateway:
     websocket:
      enabled: true
     globalcors:
        cors-configurations:
          '[/**]':  
            allowedOrigins:
              - "${FRONTEND_URL}"
              - "${FRONTEND_URL_DOMAIN}"
              - "${FRONTEND_URL_SUBDOMAIN}"
              - "http://164.164.197.50:80/"
              - "http://localhost:5173/"
              - "http://192.168.1.116:5173/"
              - "http://192.168.1.143:5173/"
              - "http://192.168.1.143:5174/"
            allowedMethods:
              - GET
              - POST
              - PUT
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders: "Authorization"
            allowCredentials: true
     routes:
      - id: USER-SERVICE
        uri: http://${USER_API:localhost:8081}
        predicates:
          - Path=/auth/**,/api/user/**

      - id: websocket-route
        uri: ws://${USER_API:localhost:8081}
        predicates:
          - Path=/ws/**
        filters:
          - name: PreserveHostHeader

      - id: BASICINFO-SERVICE
        uri: http://${SHARED_API:localhost:8082}
        predicates:
          - Path=/api/accountsmaster/**,/api/basic-info/**,/api/inventrymaster/**,/api/data/**

      - id: ACCOUNTS-SERVICE
        uri: http://${ACCOUNTS_API:localhost:8083}
        predicates:
          - Path=/api/accounts/**,/api/billsaccounts/**

      - id: INVENTRY-SERVICE
        uri: http://${INVENTORY_API:localhost:8084}
        predicates:
          - Path=/api/inventry/**,/api/ic/**,/api/sob/**



